 * {
  font-family:Arial, Helvetica, sans-serif;
 }

 #logo {
   background-color: rgb(14, 10, 26);
   width: auto;
   padding: 30px;
   text-align: center;
   color: white;
 }
#container {
  background-color: rgb(255, 255, 255);
  color:black;
  width:auto;
}
#checkbox-place{
  width: 10%;
}
#task-table {
  background-color:rgb(216, 216, 216);
  margin-left:20px;
  margin-bottom:20px;
  padding:10px;
  border-style: groove;
  border-color: rgb(216, 216, 216);
  border-radius:5px;
  border-width: 2px;
  width: 50%;
}
table, th, td {
  
  width: 100%;
  height:fit-content;
}
