 #logo {
   background-color: rgb(14, 10, 26);
   width: auto;
   padding: 30px;
   text-align: center;
   color: white;
 }
#container {
  background-color: bisque;
  color:black;
}
#task {
  background-color:rgb(192, 192, 192);
  margin-left:20px;
  padding:10px;
  border-color: black;
  border-radius:5px;
}

